/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, 
 * Jonathan Neal, Kroc Camen, and the H5BP dev community and team.
 */

/*=====================================================================
 Google font import (must be before other style rules!!)
 * ==================================================================*/
@import url(http://fonts.googleapis.com/css?family=Aguafina+Script|IM+Fell+English|UnifrakturMaguntia);
/* =====================================================================
   Base styles: opinionated defaults
   ================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the 
 * bottom of their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* =====================================================================
   Browse Happy prompt
   ================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =====================================================================
   Author's custom styles
   ================================================================== */
html{
    background: #1D1002;
    background-image: url("../img/26.png");
    background-size: 512px;
}
body {
	padding: 0.5em;
	background: padding-box #e9e4e3;
	font-family: 'IM Fell English', times, serif;
    /*adds the torn page edge effect*/
    border-style: solid;
    border-width: 0 0 15px 0;
    /*-moz-border-image: url(../img/worn-border-bottom.png) 0 0 30 0 stretch;*/
    -webkit-border-image: url(../img/worn-border-bottom.png) 0 0 22 0 stretch;
    /*-o-border-image: url(../img/worn-border-bottom.png) 0 0 30 0  stretch;
    border-image: url(../img/worn-border-bottom.png) 0 0 30 0  stretch;*/
}
p{
    text-align: justify;
    line-height: 1.25em;
    font-size: 1em;
}
/*stylize the initial letter of a paragraph*/
p::first-letter{
    padding-left: 1em;
    font-weight: bold;
    font-size:1.5em;
    font-family:Times;
    line-height: 1.2;
}
p::first-letter::selection{
    background: #b3d4fc;
    text-shadow: none;
}
.centerText{
    text-align:center;
}

img{
    margin-top: 1em;
    border: 1px black solid;
    width: 99%;
}

/*changes font to a handwriting font if avaliable*/
.signature{
    font-family: 'Aguafina Script', cursive;
}

/*removes the stylized initial letter of a paragraph*/
.noInitial::first-letter{
    padding-left: 0;
    font-weight:normal;
    font-size:inherit;
    font-family:inherit;
}

/*----------------------------------------------------------------------
 * Heading Styles*/
h1{
	font-size: 1.96em;
	line-height: 1.2; 
	font-family: 'UnifrakturMaguntia', "Times New Roman", serif;
	text-align: center;
	margin-top: 0;
    margin-bottom: 0;
}
h2 {
	font: 1.5em 'IM Fell English', times, serif;
    line-height: 1.2
}
h3 {
    font: 1.3em 'IM Fell English', times, serif;

}

/***LINKS***/
a{
    font-weight: bold;
    text-decoration: none;
}
a:link, a:active{
    color: #696969;
    cursor: pointer;
}
a:visited{
    color: #808080;
    cursor: pointer;
}
a:hover{
    color: #696969;
}
a[href=""]{
    /*font-size: 0.75em;*/
    /*font-family: Verdana, Arial, Sans-serif;*/
    color: black;
    /*line-height: 1em;*/
    cursor: text;
}
nav.siteNav > a{
    border-right: 1px black solid;
    padding-right: 3px;
}
nav.siteNav > a:last-child{
    border-right: 0;
}
/*----------------------------------------------------------------------
 * List styles*/
dd{
	margin-left: 1.5em;
	font-size: 0.85em;
}

/*----------------------------------------------------------------------
* Site navigation*/
nav.siteNav{ /*instead of .header*/
    position: relative;
    
    /*min-height: 100px;
    height: 100%;
    padding: 0 20px;
    background: #FFF;*/
    
    /*position: fixed;  NOTE: style from before hideable nav
    top: 1em;
	text-align: left;
	font-size: 0.75em;
    background-color: #e9e4e3;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    /*padding: 0.25em;*/
}
.siteNav > div{
    display: block;
    float: left;
}
.siteNav > div, .menu, .menu > li, ,menu > li > a{
    height: 100%;
}
#toggle, .toggle {
    display: none;
}
.menu{
    display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    right: 0;
    
        /*max-width 768px*/
    background: #FFF;
    border-top: 1px solid #51C1F1;
    /*height: auto;*/
}
.menu > li {
    display: block;
    width: 100%;
    margin: 0;
    
    list-style: none;
    float: left;
    
    /*max-width 768px*/
    /*height: auto;*/
}
.menu > li > a{
    display: block;
    width: 100%;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    /*padding: 42px 20px;*/
    font-weight: normal;
    font-size: 1em;
    line-height: 1;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    
        /*max-width 768px*/
    /*height: auto;
    padding: 15px 15px;*/
}
.manu > li > a:hover, .menu > li > a:focus{
    background: #F2F2F2;
    box-shadow: insert 0px 5px #51C1F1;
    color: #51C1F1;
    padding: 50px 20px 34px;
    
        /*max-width 768px*/
    background: #F2F2F2;
    box-shadow: insert 5px 0px #51C1F1;
    padding: 15px 15px 15px 25px;
}
.toggle{
    display: block;
    position: fixed;
    top: 1%;
    left: 0.5em;
    width:3em;
    height: 1.2em;
    cursor: pointer;
    -webkit-touch-callout: none;
    user-select: none;
    border: 1px solid black;
    border-right: none;
    padding: 0 3px; 
    background-color: grey;
    z-index: 2;
}
.toggle::after{ /*max-width 768px*/
    content: attr(data-open);
    display: block;
	/*width: 200px;
	margin: 33px 0;
	padding: 10px 50px;
	background: #51C1F1;*/
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	/*font-size: 12px;
	color: #FFFFFF;*/
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
.toggle:hover::after{ /*max-width 768px*/
    /*background: #45ABD6;*/
}
#toggle:checked + div .menu{
    display: block;
    opacity: 1;
}
#toggle:checked + div .toggle::after{
    content: attr(data-close);
}

/*----------------------------------------------------------------------
 * Header: title, date, issue number, and site navigation*/
header {
    margin-top: 1em;
	/*margin-bottom: 1em;*/
}

div.headerText{
    font-size: 0.8em;
    border-top: 2px solid black;
}
/* align left, uppder line*/
#publisher{
    display: inline-block;
    width: 52%;
    text-align: left;
}
/* align right, upper line*/
#issue{
    display: inline-block;
    width: 46%;
    text-align: right;
}
/* align center, lower line*/
#publishDate{
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
}


/*----------------------------------------------------------------------
 /* use for ads and the pageNav*/
.contentBox{
	border: 1px black solid;
	padding: 0.25em;
}
/* adds a one line margin above and below box*/
.marginTopBottom{
    margin-top: 1em;
    margin-bottom: 1em;
}
/*Removes the space between the box border and content at the top*/
.contentBox > *:first-child{
	margin-top: 0;
}
/*Removes the space between the box border and the content at the 
 * bottom*/
.contentBox > *:last-child{
	margin-bottom: 0;
}
/* allows top link to go all the way to the top */
a#pageTop{
    position: absolute;
    top: 0px;
}
a[href="#pageTop"]{
	position: fixed;
    top: 1%;
    left: 3.8em;
    width: 2em;
    height: 1.2em;
    color: black;
    font-weight: normal;
    border: 1px solid black;
    padding: 0 3px;
    background-color: grey;
    z-index: 2;
}

/* advertisement 'taps' styles*/
.tab-1{
    margin-left: 2em;
}
.tab-2{
    margin-left: 3em;
}
.tab-3{
    margin-left: 4em;
}
.tab-4{
    margin-left: 5em;
}

/*----------------------------------------------------------------------
 * Footer
 */
footer {
	border-top: 2px black solid;
	margin-top: 1em;
	text-align: center;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* =====================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ================================================================== */

@media only screen and (min-width: 35em) {
    body{
        max-width: 42em;
        margin: 0 auto;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        /*adds the torn page edge effect*/
        border-style: solid;
        border-width: 15px 18px;
        -moz-border-image: url(../img/worn-border.png) 22 27 22 29 repeat;
        -webkit-border-image: url(../img/worn-border.png) 22 27 22 29 repeat;
        -o-border-image: url(../img/worn-border.png) 22 27 22 29 repeat;
        border-image: url(../img/worn-border.png) 22 27 22 29 repeat;
    }

    /* container for content -- formatting for columns */
    .content{
        width: 100%;
        margin-bottom: 1em;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        -moz-column-gap: 1.5em;
        column-rule: 4px double black;
        -webkit-column-rule: 4px double black;
        -moz-column-rule: 4px double black;
    }
    /*this prevents titles from being split between columns*/
     .content h2, .content h2 + p{
        display: inline-block;
        margin-bottom: 0;
    }
    .content h3, .content h3 + p{
        display: inline-block;
        margin-bottom: 0;
    }

    /*header when fullsize*/
    /* re-align with #publisher and #issue to be all on the same line*/
    header{
        margin-top: 0.25em;
        height: 3.5em;
        margin-bottom: 1em;
        border-bottom: 2px solid black;
    }
    .headerText{
        position: relative; /*allows #issue to be positioned relative to containing div instead of page root element*/
    }
    span#publisher{
        width: 30%;
    }
    span#issue{
        width: 30%;
        position: absolute; /*allows #issue and $publishDate to switch places*/
        right: 1px;
    }
    span#publishDate{
        width: 38%;
        border-top: none;
        border-bottom: none;
    }
    


    .noMarginB{
        margin: 1em 0 0 0;
    }

    .toggle{
        top: 7%;
        left: 1.6em;
    }
    a[href="#pageTop"]{
        top: 7%;
        left:4.5em;
    }


    footer{
        width: 100%;
        clear: both;
    }

}/* end of min-width 35em*/

@media only screen and (min-width: 42em) {
    #menu{
        position: fixed;
        top: 7%;
        width: 100%;
        max-width: 42em;
        margin: 0 auto;
    }
    .toggle{
        position: relative;
        top: auto;
        left: auto;
        width: 4em;
        float: left;
        height: 1.2em;
    }
    a[href="#pageTop"]{
        position: relative;
        top: auto;
        left: auto;
        float: left;
        height: 1.2em;
    }
}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
        
    a[href='#pageTop']{
        display: none !important;
        visibility: hidden; 
    }
    .siteNav{
        display: none !important;
        visibility: hidden;
    }
           
    .content{
        width: 100%;
        margin-bottom: 1em;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        -moz-column-gap: 1.5em;
        column-rule: 4px double black;
        -webkit-column-rule: 4px double black;
        -moz-column-rule: 4px double black;
    }
           
    /*this prevents titles from being split between columns*/
     .content h2, .content h2 + p{
        display: inline-block;
        margin-bottom: 0;
    }
    .content h3, .content h3 + p{
        display: inline-block;
        margin-bottom: 0;
    }
    /* Style adjustments for high resolution devices */
}/*end of print*/

/* =====================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 5mm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

section {
    border-top: 2px black dashed;
}
